<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.blog.mapper.AdMapper">

    <select id="adList" resultType="com.hzy.blog.vo.AdVo">
        select
            ad.*,
            ad_type.ad_type_title
        from
            ad
                left join ad_type on ad.ad_type_id = ad_type.ad_type_id
        <where>
            <if test="adTypeId != null and adTypeId != ''">
                ad.ad_type_id = #{adTypeId}
            </if>
        </where>
        order by ad.ad_sort
    </select>
</mapper>
